<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">


    </head>
    <body>
        <header>
             <h1>Wellcome</h1>
        </header>>

           <div class="col-md-3">
        <div >
<ul>
  <li>Search Cus</li>
  <li>Borrow book</li>
  <li>Sell book</li>
  <li>Pay </li>
  <li>Check store</li>
</ul>
        </div>
    <
                                    
    </div>
<div class="sidebar-title">
    <p><i class="fa fa-phone"></i> HỖ TRỢ TRỰC TUYẾN</p>
</div>
<div class="sidebar-body">
    <div class="img-alo">
        <img src="frontend/giaodien/flipmart/images/alo.jpg" class="img-responsive" alt="Hotline">
    </div>
                        <div class="hotline-alo">
            <p class="hotline-alo-title">Hỗ trợ trực tuyến 1</p>
            <p class="hotline-alo-body">0986.322.768</p>
        </div>
        <div class="hotline-alo">
            <p class="hotline-alo-title">Hỗ trợ trực tuyến 2</p>
            <p class="hotline-alo-body">0968.680.329</p>
        </div>
        <div class="hotline-alo">
            <p class="hotline-alo-title">Hỗ trợ trực tuyến 3</p>
            <p class="hotline-alo-body">0365.650.628</p>
        </div>
 
        
        
    </body>
</html>
